@model Fincon_Assessment.Models.Quotation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to Fincon Accounting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="~/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="~/images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="~/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/bd-wizard.css" />
    <link rel="stylesheet" href="~/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" />
    <link href="~/css/BusyIndicator.css" rel="stylesheet" />
</head>
<body>
    @{
        if (@HttpContext.Current.Session["IsEdit"] != null && @HttpContext.Current.Session["IsEdit"].ToString() == "1")
        {
            <input type="hidden" value="1" id="hidIsEdit" />
        }
        else
        {
            <input type="hidden" value="0" id="hidIsEdit" />
        }
    }
    <div class="loader">
        <div class="spinner-border"></div>
    </div>
    <div class="wrapper">
        <div class="content-part">
            <div class="left">
                <div class="logo">
                    <a href="@Url.Action("Index", "DashBoard")" class="lg-hide">
                        <img src="~/images/logo.png" alt="Logo" />
                    </a>
                    <div class="menu">
                        <a href="#" class="toggle-nav">
                            <span class="top"></span>
                            <span class="center"></span>
                            <span class="bottom"></span>
                        </a>
                    </div>
                </div>
                <div class="nice-nav">
                    <ul>
                        <li class="child-menu" id="liDashBoard" onclick="start();">
                            <a href="@Url.Action("Index", "DashBoard",new { message = ""})" class=" toggle-right">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span class="menutitle">Dashboard</span>
                            </a>
                        </li>
                        <li class="child-menu" id="liGeneral" onclick="start();">
                            <a href="@Url.Action("Index", "General",new { Id = @Fincon_Assessment.Common.MySession.Current.ActiveID} )">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span class="menutitle">General</span>
                            </a>
                        </li>



                    </ul>


                </div>
            </div>
            <div class="right">
                <header class="header-div">
                    <div>&nbsp;</div>
                    <div class="header-right">
                        <div class="user-avtar dropdown">
                            <span class="profile-pic">
                                <img src="@Fincon_Assessment.Common.MySession.Current.UserPhoto" alt="" />
                            </span>
                            <a class="menu-filter usertext" data-toggle="dropdown" aria-expanded="true">
                                Welcome
                                <strong>@Fincon_Assessment.Common.MySession.Current.UserName</strong>
                            </a>
                            <div class="dropdown-menu">
                                <a class="d-block d-sm-none" href="javascript:void(0);">Welcome <strong>@Fincon_Assessment.Common.MySession.Current.UserName</strong></a>
                                <a href="#">My Profile</a>
                                <a href="@Fincon_Assessment.Common.MySession.Current.LogoutURL">Logout</a>
                            </div>
                        </div>
                        <div class="logout">
                            <a href="@Fincon_Assessment.Common.MySession.Current.LogoutURL"></a>
                        </div>
                    </div>
                </header>
                <div class="title blue-part">
                    <h1 id="hActiveGrid">@HttpContext.Current.Session["ActiveGrid"]</h1>
                </div>
                <div class="content-div">
                    <div class="maindiv">
                        <div class="inner">
                            <div class="innerleft">
                                @using (Html.BeginForm("Index", "General", FormMethod.Post, new { @id = "frmmain", @class = "General-form", onsubmit = "return start();" }))
                                {
                                    <input type="hidden" id="hidActiveGrid" value="liGeneral" />
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Customer Name</label>
                                            @Html.TextBoxFor(m => m.CustomerNamer, new { @class = "form-control", @maxlength = "50", @tabindex = "1" })
                                        </div>
                                        <div class="form-group col">
                                            <label>Customer Address</label>
                                            @Html.TextBoxFor(m => m.CustomerAddress, new { @class = "form-control", @maxlength = "50", @tabindex = "2" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Quotation Number</label>
                                            @Html.TextBoxFor(m => m.QuotationNumber, new { @class = "form-control", @maxlength = "50", @tabindex = "3", @readonly = true })
                                        </div>
                                        <div class="form-group col">
                                            <label>Date</label>
                                            <div class="datepicker" data-provide="datepicker">
                                                @Html.TextBoxFor(m => m.date, new { @class = "form-control", @tabindex = "4", id = "dpd1" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Status</label>
                                            @Html.DropDownListFor(m => m.Statusid, Model.lstStatus, new { @class = "form-control", @tabindex = "5" })
                                        </div>
                                    </div>
                                    <div class="dashboard-table">
                                        <div class="dashboard-table-inner">
                                            <div class="table-custom">
                                                <table id="table1" class="display">
                                                    <thead>
                                                        <tr>
                                                            <th>Description</th>
                                                            <th>Quantity</th>
                                                            <th>Unit Price</th>
                                                            <th>Vat</th>
                                                            <th>Price</th>
                                                            <th>Action</th>
                                                            <th style="display:none">hidden</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach (var e1 in Model.lstQuotationDetails)
                                                            {
                                                                <tr>
                                                                    @if (e1.isNew)
                                                                    {

                                                                        <td>
                                                                            @Html.TextBoxFor(x => e1.Description)
                                                                        </td>
                                                                        <td>
                                                                            @Html.TextBoxFor(x => e1.Quantity)
                                                                        </td>
                                                                        <td>
                                                                            @Html.TextBoxFor(x => e1.Price)
                                                                        </td>
                                                                        <td>
                                                                            @Html.TextBoxFor(x => e1.Vat)
                                                                        </td>
                                                                        <td>
                                                                            @Html.TextBoxFor(x => e1.TotalIncludingVat)
                                                                        </td>
                                                                        <td>
                                                                            <a onclick="return ValidateItem();" href="@Url.Action("AddQuotationItem", "General",new { QuotationID= Model.Id,QuotationDetailsId = e1.Id, })"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                                        </td>
                                                                        <td style="display: none">
                                                                            @Html.TextBoxFor(x => e1.isNew)
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {

                                                                        <td class="text-right">@e1.Description</td>
                                                                        <td class="text-right">@e1.Quantity</td>
                                                                        <td class="text-right">@e1.Price</td>
                                                                        <td class="text-right">@e1.Vat</td>
                                                                        <td class="text-right">@e1.TotalIncludingVat</td>
                                                                        <td>
                                                                            <a href="@Url.Action("DeleteQuotationItem", "General",new { QuotationID= Model.Id,QuotationDetailsId = e1.Id, })"><i class="fa fa-remove" aria-hidden="true"></i></a>
                                                                        </td>
                                                                        <td style="display: none">
                                                                            @Html.TextBoxFor(x => e1.isNew)
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    if (@HttpContext.Current.Session["IsEdit"] != null && @HttpContext.Current.Session["IsEdit"].ToString() == "1")
                                    {

                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Save" onclick="return Validate();">
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        function ValidateItem(objdat) {
            var ErrorMessage = "";
            if ($("#CustomerNamer").val() == "") {
                ErrorMessage = ErrorMessage + "Please Enter Customer Name. \n"
            }
            if ($("#CustomerAddress").val() == "") {
                ErrorMessage = ErrorMessage + "Please Enter Customer Address. \n"
            }
            if ($("#date").val() == "") {
                ErrorMessage = ErrorMessage + "Please Enter Currect Date. \n"
            }

            //var table = document.getElementById("table1");
            ////iterate trough rows
            //for (var i = 0, row; row = table.rows[i]; i++) {
            //    if (row.cells[6].val() == true) {
            //        for (var j = 0, col; col = row.cells[j]; j++) {
            //            alert("asd");
            //        }
            //    }

            //}

            if (ErrorMessage != "") {
                alert(ErrorMessage);
                return false;
            }
            else {
                alert(objdat);
            }
            return false;
        }
    </script>

    <script src="~/js/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/popper.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>
    <script type="text/javascript" src="~/js/BusyIndicator.js"></script>
    <script type="text/javascript">
        $('#table1').DataTable({
            "sDom": '<"top">rt<"bottom"p>',
            columnDefs: [{ orderable: false, targets: [1, 2] }]
        });
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        $('#dpd1').datepicker({
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        });

    </script>
</body>
</html>
